fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
python-dotenv==1.0.0
psycopg2-binary==2.9.9
numpy==1.26.2
scikit-image==0.22.0
moviepy==1.0.3
librosa==0.10.1
requests==2.31.0
yt-dlp==2023.12.30
google-search-results
Pillow==10.0.1 --only-binary=:all:
setuptools<70